@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
}

.container {
  position: absolute;
  width: 80%;
  box-sizing: border-box;
  /* Glassmorphism */
  background: rgba(202, 142, 181, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  height: 30rem;
  transition: 2s all ease;
}

.container header {
  text-align: center;
  padding: 0;
  background-color: white;
  height: 15%;
  line-height: 5rem;
  border-radius: 10px 10px 0 0;
}

.container header h1 {
  margin: 0;
  height: 100%;
}

.container main {
  position: relative;
  width: 100%;
  height: 85%;
  padding: 30px;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: bold;
  bottom: 0;
}

.controls {
  font-size: 2rem;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;

  border-radius: 20px;
  text-align: center;

  background-color: #e7e7e7;
  z-index: 9999;

  position: absolute;
  right: 30px;
  bottom: 20px;
}

.button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 10rem;
  width: 100%;
}

.button {
  position: absolute;
  width: 8rem;
  height: 2rem;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  bottom: 10px;
  box-shadow: 2px 0 20px 10px #c9bbcf;
}

.button:hover {
  background-color: rgb(228, 224, 224);
}

.button.eventEmitter {
  left: 15px;
}

.button.randomPosition {
  right: 15px;
}

@media screen and (min-width: 992px) {
  .container {
    width: 30rem;
  }

  .button {
    width: 10rem;
  }

  .button.eventEmitter {
    left: 50px;
  }

  .button.randomPosition {
    right: 50px;
  }
}

.fading {
  opacity: 0;
}
